#name {
  color: var(--expresso-primary);
  font-weight: bold;
}

h1 {
  text-align: center;
}

h1.welcome {
  margin: 1em;
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  aspect-ratio: 1;
  object-fit: cover;
  background-color: #0001;
  text-align: center;
  line-height: 200px;
  border: 2px solid var(--expresso-lighten);
  animation: pulse 1s linear infinite ;
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  gap: 1em;
  padding: 2em;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--expresso-text);

  a {
    font-weight: bold;
    padding: 0.6em 1em;
    border-radius: 10em;
    transition-duration: 0.2s;
    color: var(--expresso-text-grey);
    display: flex;
    align-items: center;
    gap: 0.5em;

    &:hover {
      color: var(--expresso-text-grey);
    }

    &.active {
      border: 2px solid var(--expresso-text);
      color: var(--expresso-text);
    }
  }

  img {
    height: 50px;
    width: 50px;
  }
}

footer {
  display: flex;
  gap: 1em;
  padding: 2em;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--expresso-text);

  & div {
    display: flex;
    gap: 0.5em;
  }

  & .me {
    border-left: 2px solid var(--expresso-text-grey);
    padding-left: 2em;
    margin-left: 1em;
  }
  & a {
    color: var(--expresso-text);
  }
  & i {
    font-size: large;
    cursor: pointer;
    padding: 0 0.3em;
  }
}

.f1 {
  flex: 1;
}

@keyframes pop {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
